footer {
	background-color: #33C2F2;
	margin-top: 30px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	
	section {
		display: inline-block;
		position: relative;
		width: 25%;
		padding-left: 15px;
		padding-right: 15px;
		vertical-align: top;
	}
	ul {
		list-style-type: none;
		li {
			a {
				color:#252626 !important;
				font-size: 1.2em;
			}
			a:hover {
				background-color:white;
			}
		}
	}
}