body {
	font-family: 'Crimson Text', serif;
}
.myarticle {
	.image {
		padding-left: 0px !important;
		width:150px;
	}
	background-color:white;
	width: 500px;
	margin-left:0px !important;
	.entry-summary {
		background-color: #E6E9EB;
		height:150px;
		color:black;
		vertical-align: middle;
		width: 350px;
	}
}
.entry-title {
	width: 500px;
	padding-left:20px;
	padding-right:20px;
	a {
		color:#33C2F2;
	}
}
article {
	color:white;
	padding: 5px 25px 20px 25px;
	width: 550px;
	margin: 10px auto 10px auto;
 	background-color: #2F3030;
 	h1 {
	color:#33C2F2;
	}
}
.entry-content {
	padding-left:20px;
	padding-right:20px;
	text-align:center;
}
.main {
	width: 600px !important;
}
.author {
	a {
		color:white;
	}
}
h1 {
	color: white;
}